@font-face {
    font-family: 'Neue';
    src: 
    local('Neue Haas Grotesk Display Pro');
    src: url('../NeueHaasDisplay-Roman.ttf') format('truetype');
    src: url('../NHAASGROTESKTXPRO65MD.eot?#iefix') format('embedded-opentype'); 
    src:url('../NeueHaasDisplay-Roman.eot'),
         url('../NeueHaasDisplay-Roman.woff') format('woff'),
         url('../NeueHaasDisplay-Roman.woff2') format('woff2'),
         url('../NeueHaasDisplay-Roman.svg') format('svg');
}
@font-face {
  font-family: 'CommitMono';
  src: 
  local('CommitMono');
  src: url('../CommitMono-Regular.ttf') format('truetype');
  src: url('../CommitMono-Regular.eot?#iefix') format('embedded-opentype'); 
  src:url('../CommitMono-Regular.eot'),
       url('../CommitMono-Regular.woff') format('woff'),
       url('../CommitMono-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Neue', sans-serif;
}
main{
    background: white;
}
header{
    padding: 0px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    background: white;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}
header{
    width: 100%;
    max-width: 9999px;
    margin: auto;
    padding: 0 50px;
}
.navbar{
    max-width: 1400px;
    margin: auto;
}
.nav-links{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    list-style: none;
    margin-right: 99px;
    background: white;
    margin-top: -6px;
}

.nav-links li a{
    position: fixed;
    display: inline;
    text-decoration: none;
    color: white;
    mix-blend-mode: exclusion;
    font-weight: 500;
    font-size: 32px;
    line-height: normal;
    z-index: 999;
}
.btn-toggle{display: none;}
@media only screen and (max-width: 1000px) {
    .nonebar{display: none}
    header{
        padding: 0;
        margin: 0 auto;
    }
    #home:before {
        content: '';
    position: fixed;
    }
  .box{
    width: fit-content;
    height: 0vh;
    position: relative;
    text-align: left;
    z-index: 1;
    opacity: 0;
    left: -500px;
    pointer-events: none;
    transition: 0.3s;
  }
.btn-toggle {
    position:fixed;
    right:25px;
    top:20px;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:15px;
    height:15px;
}
.btn-toggle .bar {
    height:3px;
    width:100%;
    border-radius:20px
}
  .active_box{
    opacity: 1;
    left: -90px;
    pointer-events: fill;
  }
  .menu_icon_box{
    display: block;
    z-index: 2;
    width: fit-content;
    height: auto;
    margin: 0;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
  }
  .line1 , .line2 , .line3{
    width: 20px;
    height: 3px;
    margin: 4px 0px;
    background-color: #000;
    border-radius: 50px;
    transition: 0.2s;
  }
  .active .line1{
    transform: translate(0px , 15px)rotate(45deg);
  }
  .active .line2{
    opacity: 0;
  }
  .active .line3{
    transform: translate(0px , 0.7px)rotate(-45deg);
  }
  .menu-links ul{
      margin-right: 0px;
      margin-top: 70px;
    }
  .menu-links a {
  padding:.25rem 2rem
  }
  .menu-links.active{
      margin: auto;
      margin-top: 0px;
  display:flex;
  text-align: right;
  }
  .navbar .nav-links {
  padding:0px 0px;
  }
  .navbar{
    z-index: 9999;
    position: fixed
  }
  .nav-links {
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin-right: 90px;
    padding-top: 0px;
  height:80px;
  }
  .nav-links li a{
        color: #000;
        font-size: 20px;
  text-align: right;
  padding: 0;
  }
  #home {
  display:flex;
  flex-direction:column;
  max-width: 900px;
  text-align: right;
  align-items: end;
  }   
}



.cover img{
    width: 100%;
    max-width: 9909px;
    margin: auto;
}
.container{
    padding: 120px 50px;
}
.about{
    max-width: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}
.firstabout{
    margin-bottom: 0
}
.aboutgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}
.about2{
    color: #909090;
    font-size: 12px;
    margin-top: 64px;
}
#aboutgrid1{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
#aboutgrid1 h1{
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: 92%; /* 68.08px */
    text-transform: uppercase;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;     
    margin: 0 auto;
    color: #000;
}
#h6-w{ /* ajustar a responsividade ao alcançar o width da tela a partir de 1400px */
    color: #000;
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 16px;
    font-style: normal;
    margin: -60px auto;
    margin-left: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
} 
#aboutgrid1 h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    padding-right: 50px;
}
#about2 h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}
#aboutgrid1 p{
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.aboutgrid h1{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: 92%; /* 68.08px */
    text-transform: uppercase;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;     
    margin: 80px auto;
    color: #000;
}
.aboutgrid h6{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.aboutgrid h5{
    font-family: 'CommitMono', sans-serif;
    grid-column-start: 2;
    grid-column-end: 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.aboutgrid p{
    grid-column-start: 3;
    grid-column-end: 3;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#h6-m{display: none;}
@media screen and (max-width:900px) {
    .aboutgrid {
        display: flex;
        flex-direction: column;
        margin: 60px auto;
    }
    .container{
        padding: 120px 45px 120px 16px;
    }
    #aboutgrid1 h1{
        font-size: 32px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 16px;
    }
    #h6-w{display: none;}
    #h6-m{
        display: block;
        font-size: 16px;
        margin: 0px auto;
        margin-left: 0;
        padding-left: 0px;
        font-weight: 600;
        margin-bottom: 120px;
    }
    #aboutgrid1 h5, .about h6{
        margin-bottom: 64px;
    }
    #aboutgrid1 p, .about p{
        font-family: 'Neue', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;        
        line-height: 120%; 
    }
    .about2 p{
        font-family: 'Neue', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
    }
    .aboutgrid h5{
        font-size: 14px;
        margin-bottom: 32px;
    }
    .aboutgrid h6{
        margin-bottom: 64px;
        text-align: right;
    }
    #aboutgrid1 #p2-1{
        font-size: 14px
    }
}
.frames1, .frames2, .frames3, .frames4 {
    width: 100%;
    max-width: 9999px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.frames1 img{
    width: 100%;
    max-width: 9999px;
    margin: auto;
}
.frames2{
    margin-top: 110px;
}
.frames2 img{
    width: 100%;
    max-width: 819px;
    margin: auto;
}
.frame2-2 img:last-child{
    margin-top: 32px;
}
.frames3 img{
    width: 100%;
    max-width: 9999px;
    margin: auto;
}
.frames4{
    position: relative;
    display: flex;
    max-width: 999px;
}
.frames4 .img-4-1{
    width: 100%;
    max-width: 668px;
    margin: auto;
}
.frames4 .img-4-1{
    max-width: 668px;
}
.frames4 .img-4-2{
    max-width: 813px;
    margin-left: -15%;
    margin-top: -2%;
}
.seta{
    width: 100%;
    max-width: 9999px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 30px 0;
    scroll-behavior: smooth;
}
swiper-container {
margin-left: auto;
margin-right: auto;
}
.mySwiper1{
    position:relative;
    display: flex;
    width: 100%;
    max-width: 9900px;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: grab;
}
.swiper1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 390px;
}
.others{
    width: 100%;
    max-width: 9999px;
    margin: auto;
    margin-top: 110px;
}
.others h1{
    font-family: 'Neue';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 120px 0 64px 150px;
}

footer{
    font-family: 'Neue', sans-serif;
    background: black;
    padding: 36px 36px 0px;
}
.contact {
    font-family: 'Neue', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    background: #000;
    color: #9A9A9A;
    height: 390px;
    padding-top: 50px;
    padding-left: 50px;
}
.contact h6 {
    color: #8B8B8B;
    font-size: 24px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
}
.contactlink{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    text-align: right;
    margin-right: 0;
    right: 0;
    padding-right: 50px;
    float: right;
}
.contactlink p{
    max-width: 350px;
    text-align: left;
}
.contactlink a{
    color: #8B8B8B;
    display: flex;
    border: 1px solid #8B8B8B;
    width: 100%;
    max-width: 245px;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 120%;
    border-radius: 32px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 32px;
    text-align: left;    
}
.contactlink a svg{
    margin-right: 8px;
}
.footerP{
    color: #8B8B8B;
    margin-top: 12px;
    font-family: 'Neue', sans-serif;
}

.footerP h2{
    color: #8B8B8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}
.contactsocials{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    right: 0;
    top: 250px;
    padding-right: 100px;
    float: right;
}
.contactsocials a{
    margin-right: 10px;
    text-decoration: none;
    list-style: none;

}

.signatureH {
    display: inline-block;
    text-transform: uppercase;
    color: #8B8B8B;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 100%;
    width: 2940px;
    background: black;
    font-size: 22vw;
}
.h6footer2{display: none;}
@media screen and (max-width:900px) {
    .h6footer1{display: none;}
    .h6footer2{display: block;}
    footer{
        padding: 0;
    }
    .contact h6 {
        max-width: 120px;
        white-space: wrap;
        margin-bottom: 64px;
    }
    .contact {
        position: relative;
        display: flex;
        flex-direction: column;
        white-space: wrap;
        height: 390px;
        padding-top: 100px;
        padding: 100px 24px;
    }
    .contactlink{
        display: flex;
        position: relative;
        margin-bottom: 63px;
        width: 100%;
        max-width: 900px;
    }
    .contactlink p{
        max-width: 850px;

    }
    .contactlink a{
        font-size: 12px;
        margin-top: 16px;
    }
    .contactsocials{
        position: relative;
        top: 0px;
    }
    .signatureH {
    font-size: 22vw;
    padding: 0 20px;
    margin-top: 230px;
    }
}
@media screen and (max-width:790px) {
    footer{
        padding: 0;
    }
    .contact h6 {
        max-width: 110px;
        white-space: wrap;
        margin-bottom: 64px;
    }
    .contact {
        position: relative;
        display: flex;
        flex-direction: column;
        white-space: wrap;
        height: 390px;
        padding-top: 100px;
        padding: 100px 24px;
    }
    .contactlink{
        display: flex;
        position: relative;
        margin-bottom: 63px;
        width: 100%;
        max-width: 900px;
        padding: 0;
    }
    .contactlink p{
        max-width: 850px;

    }
    .contactlink a{
        font-size: 12px;
        margin-top: 16px;
        max-width: 220px;
    }
    .contactsocials{
        position: relative;
        top: 0px;
    }
    .signatureH {
    font-size: 21.5vw;
    padding: 0 20px;
    margin-top: 230px;
    }
}